.content{
    height: 70rem;
    width: 100%;
    background-color: rgb(164, 130, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    
}
.no1{
    height: 60rem;
    width: 30rem;
    
 
}
/* .no1{
    background-color: aqua;
} */
.no2{
    background-color: rgb(52, 84, 84);
}
.no3{
    background-color: rgb(71, 44, 118);
}
.innerbox1{
    height: 15rem;
    width: inherit;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerbox2{
    height: 35rem;
    width: inherit;
    background-color:white;
    text-align: center;
    padding: 1rem;
}
.innerbox3{
    height: 10rem;
    width: inherit;
    background-color: white;
    
}
.innerbox1 img{
height: 13rem;
width: 13rem;
border: 2px solid white;
border-radius: 50%;
/* background-color: crimson; */
}
.innerbox2 h1{
    font-size: 5rem;
    padding: 1rem;

}
.innerbox2 h3{
    color: black;
    
}
.innerbox2 h4,.p{
    line-height:2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: none;
    padding: 0 5rem;
    color: crimson;
}
.innerbox3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerbox3 button{
    background-color: crimson;
}
button{
    text-transform: none;
}


/* model */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    /* padding: 10px 20px;
    display: block;
    margin: 100px auto 0;*/
    font-size: 1.3rem;
    margin-left: 3%;
    background-color: white;
    border: none;
    color: blue;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}